!!!
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title{lang: 'la'} In memoriam perpetuam
    %link{rel: 'stylesheet', href: 'style.css'}
  %body
    %h1{lang: 'la'}
      %a{href: 'https://wiki.room208.org/memoriam/'} In memoriam perpetuam

    /
      [with all others unknowing, in everlasting memory]

      Sena Miyama
      * December 3, 1991
      † January 28, 2008 (aged 16)

      Takeshi Kinoshita
      * November 1, 1994
      † December 14, 2012 (aged 18)

      Chiyomi Sakai
      * February 13, 1993
      † April 17, 2013 (aged 20)

      Mizuki Eguchi
      * November 22, 1994
      † April 17, 2013 (aged 18)

      Hatsue Tsuruoka
      * September 21, 1993
      † August 10, 2013 (aged 19)

      Ryouta Yoshikawa
      * May 18, 1992
      † August 19, 2013 (aged 21)

      Kei Shinagawa
      * December 9, 1996
      † December 15, 2013 (aged 17)

      Sanae Tanimura
      * September 9, 1995
      † March 22, 2014 (aged 18)

      Jun Takanashi
      * June 6, 1995
      † March 22, 2014 (aged 18)

      Minami Tsuchida
      * May 27, 1997
      † March 22, 2014 (aged 16)

      Shouko Yuzawa
      * January 26, 1997
      † March 22, 2014 (aged 17)

      Takumi Oonishi
      * October 21, 1996
      † January 25, 2015 (aged 18)

      Hiroko Shimamura
      * May 17, 1996
      † January 25, 2015 (aged 18)

    %section
      %h2 Index Branch
      %table
        = render '/logs/_session-memoriam.haml',
            id: '00',
            title: 'Character creation: Ayako, Hitomi, and Jun',
            secondary: true
        = render '/logs/_session-memoriam.haml',
            id: '01',
            title: 'Initiation: Ayako, Hitomi, and Jun',
            secondary: true
        = render '/logs/_session-memoriam.haml',
            id: '02',
            title: 'Libri Prohibitorum'
        = render '/logs/_session-memoriam.haml',
            id: '03',
            title: 'Ask No Questions, Hear No Lies'
        = render '/logs/_session-memoriam.haml',
            id: '04',
            title: 'Those Bound to Secrecy'
        = render '/logs/_session-memoriam.haml',
            id: '05',
            title: 'Cast Into the Fire'

    %section
      %h2 Salt Branch
      %table
        = render '/logs/_session-memoriam.haml',
            id: '06',
            title: 'Character creation: Hibiki and Hikari',
            secondary: true
        = render '/logs/_session-memoriam.haml',
            id: '07',
            title: 'Initiation: Hibiki and Hikari',
            secondary: true
        = render '/logs/_session-memoriam.haml',
            id: '08',
            title: 'Changing of the Guard'
        = render '/logs/_session-memoriam.haml',
            id: '09',
            title: 'Exile to the Mists'
        = render '/logs/_session-memoriam.haml',
            id: '10',
            title: 'The Mouth of the Cave Lies Unsealed'
        = render '/logs/_session-memoriam.haml',
            id: '11',
            title: 'Homo Sacer'
        = render '/logs/_session-memoriam.haml',
            id: '12',
            title: 'A Deep, Deep Sleep of the Innocent'
        = render '/logs/_session-memoriam.haml',
            id: '13',
            title: 'Solitary Confinement'
        = render '/logs/_session-memoriam.haml',
            id: '14',
            title: 'A Day’s Wages'
        = render '/logs/_session-memoriam.haml',
            id: '15',
            title: 'Leave No Trace'
        = render '/logs/_session-memoriam.haml',
            id: '16',
            title: 'The Child of April’s Rains'

    %section
      %h2 Kimble Branch
      %table
        = render '/logs/_session-memoriam.haml',
            id: '17',
            title: 'Character creation: Rin',
            secondary: true
        = render '/logs/_session-memoriam.haml',
            id: '18',
            title: 'Initiation: Rin',
            secondary: true
        = render '/logs/_session-memoriam.haml',
            id: '19',
            title: 'Who Alone Gazes Upon the Abyss'
        = render '/logs/_session-memoriam.haml',
            id: '20',
            title: 'The Felling of the Camellia'
        = render '/logs/_session-memoriam.haml',
            id: '21',
            title: 'Protector, Tormentor'
        = render '/logs/_session-memoriam.haml',
            id: '22',
            title: 'This Too Shall Pass (Part One)'
        = render '/logs/_session-memoriam.haml',
            id: '23',
            title: 'This Too Shall Pass (Part Two)'
        = render '/logs/_session-memoriam.haml',
            id: '24',
            title: 'Executive Action'

    %section
      %h2 Mason Branch
      %table
        = render '/logs/_session-memoriam.haml',
            id: '25',
            title: 'Character creation: Kazuki',
            secondary: true
        = render '/logs/_session-memoriam.haml',
            id: '26',
            title: 'Childhood Ties'
        = render '/logs/_session-memoriam.haml',
            id: '27',
            title: 'Good Neighbor Policy'
        = render '/logs/_session-memoriam.haml',
            id: '28',
            title: 'At Any Price'
        = render '/logs/_session-memoriam.haml',
            id: '29',
            title: 'Shock and Awe'

    %section
      %h2 Antigone Branch
      %table
        = render '/logs/_session-memoriam.haml',
            id: '30',
            title: 'Survivor’s Guilt'
        = render '/logs/_session-memoriam.haml',
            id: '31',
            title: 'Bait and Switch'
        = render '/logs/_session-memoriam.haml',
            id: '32',
            title: 'A Hundred Flowers Bloom'
        = render '/logs/_session-memoriam.haml',
            id: '33',
            title: 'The Truth Will Set You Free'
        = render '/logs/_session-memoriam.haml',
            id: '34',
            title: 'The Only Winning Move'

    %section
      %h2 Narcissus Branch
      %table
        = render '/logs/_session-memoriam.haml',
            id: '35',
            title: 'The Enemy of My Enemy'
        = render '/logs/_session-memoriam.haml',
            id: '36',
            title: 'Cut Off at the Pass'
        = render '/logs/_session-memoriam.haml',
            id: '37',
            title: 'Presumption of Innocence'
        = render '/logs/_session-memoriam.haml',
            id: '38',
            title: 'Out of Sight, Out of Mind'

    %section
      %h2 Kore Branch
      %table
        = render '/logs/_session-memoriam.haml',
            id: '39',
            title: 'The Gate of Heaven'
        = render '/logs/_session-memoriam.haml',
            id: '40',
            title: 'Mother of Necessity'
        = render '/logs/_session-memoriam.haml',
            id: '41',
            title: 'The Reunion Will Not Be Sanitized'
        = render '/logs/_session-memoriam.haml',
            id: '42',
            title: 'Pulling at the Strings'
        = render '/logs/_session-memoriam.haml',
            id: '43',
            title: 'Enemy of the State'
        = render '/logs/_session-memoriam.haml',
            id: '44',
            title: 'Open Circuit, Closed Eyes'
        = render '/logs/_session-memoriam.haml',
            id: '45',
            title: 'Under the Curtain of Night'
